.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.login-card {
  max-width: 320px;
  margin: 16px auto;
  padding: 32px 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
  overflow: hidden;

  &__logo {
    margin-left: auto;
  }

  &__title {
    color: rgba(0, 0, 0, 0.87);
  }

  &__subtitle {
    color: rgba(0, 0, 0, 0.54);
  }

  &__full-width {
    margin-top: 8px;
    width: 100%;

    input {
      width: 100%;
      font-size: 0.8rem;
      padding: 8px;
    }

    mat-icon {
      color: #001529;
    }
  }

  &__button {
    width: 100%;
    color: white;
    background-color: #001529;
    margin-top: 8px;
    font-size: 0.8rem;
    padding: 1px;
  }

  &__logo:hover {
    margin-left: auto;
    color: #3f51b5;
  }
}
